@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
}